.row, .row-fluid ,.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11 , .span12, .container-fluid
{
 /*background: #ffffee;
 border-radius: 5px;
 border: 1px solid grey;*/
}
.row, .row-fluid 
{
}
table tr:hover{cursor:pointer;}
.pre-scrollable
{
 white-space: wrap;
}
tr.qns th
{
 text-align: center;
}
td.qn
{
 width:40px;
 height: 40px;
 padding: 5px;
 margin: 5px;
 font-size: 20px;
 font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
 font-weight: bold;
}
.ans,.nans
{
 width: 20px;
 height: 20px;
 background-color: #5BB75B;
}
.nans
{
 background-color: #DA4F49;
}
